* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* colors */
:root {
    --primary-color: #bec3c7;
    --secondary-color: #22323A;
}

body {
    font-family: Arial, sans-serif;
}

header {
    background-color: var(--primary-color);
}

/* header */
.container {
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}

.logo img {
    height: auto;
    width: 160px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.navbar ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

.navbar a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    transition: color 0.3s ease;
}

.navbar a:hover {
    color: #1d3a5f;
}

.navitem {
    font-size: 20px;
}

#lang-switcher {
    padding: 5px 5px;
    background-color: black;
    color: white;
    text-decoration: none;
    border-radius: 6px;
}

#lang-switcher:hover {
    background-color: #333;
}

/* hero/home */
.hero {
    background: linear-gradient(to right, #e0e2e6, #d6d8dc);
    text-align: center;
    padding: 80px 20px;
}

.hero .container {
    flex-direction: row;
}

.hero h2 {
    font-size: 60px;
    color: var(--secondary-color);
    margin-bottom: 40px;
    text-align: left;
}

.hero span {
  display: block;
}

.hero p {
    font-size: 28px;
    color: #555;
    margin: 0 auto 30px;
    text-align: left;
}

.hero .cta {
    display: inline-block;
    background: #1d3a5f;
    color: white;
    padding: 15px 25px;
    border-radius: 30px;
    font-size: 18px;
    text-decoration: none;
    transition: background 0.3s ease;
    float: left;
}

.hero .cta:hover {
    background: #264d7a;
}

#handshake {
    height: auto;
    width: 700px;
    clip-path: polygon(15% 0, 100% 0, 100% 100%, 15% 100%, 0 50%);

    /* Fade effect */
    -webkit-mask-image: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 40%);
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-size: cover;

    mask-image: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 40%);
    mask-repeat: no-repeat;
    mask-size: cover;
}

/* services */
#servicos {
    display: flex;
    background: linear-gradient(to right, #f0f2f5, #e5e7eb);
    justify-content: space-evenly;
}

.section {
    padding: 60px 20px;
    max-width: 1000px;
}

.services, .extra-services {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    align-items: stretch;
}

.card {
    background: #fff;
    padding: 30px 25px;
    border-radius: 12px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.5);
    transition: transform 0.2s ease;
    flex: 1 1 220px;
    display: flex;
    min-height: 380px;
    flex-direction: column;
    height: 100%;
}

.card h3 {
    font-size: 36px;
    color: var(--secondary-color);
    margin-bottom: 16px;
    font-weight: 600;
    text-align: left;
}

.card ul {
    list-style: disc inside;
    padding-left: 0;
    margin: 0;
}

.card ul li {
    padding: 10px 0;
    font-size: 20px;
}

.card ul li:last-child {
    border-bottom: none;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0,0,0,0.1);
}
